<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personas</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/interfaces/index.html">Menu Principal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
        
              <li class="nav-item">
                <a class="nav-link" href="/interfaces/views/personas/personas.html">Personas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/interfaces/views/ciudades/ciudades.html">Ciudades</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/interfaces/views/deportes/deportes.html">Deportes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/interfaces/views/cargos/cargos.html">Cargos</a>
              </li>
        
            </ul>
          </div>
        </div>
    </nav>
  <div class="container mt-5">
    <h2>Personas</h2>
    <form onsubmit="registrar()">
      <div class="form-row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="tipoDocumento">Tipo de documento</label>
            <select id="tipoDocumento" class="form-control">
              <option selected>Selecciona</option>
              <option>C.C</option>
              <option>Cedula Extranjeria</option>
              <option>Pasaporte</option>
              <option>Tarjeta de identidad</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="documento"></label>
            <input type="text" class="form-control" id="documento" placeholder="Número de documento">
          </div>
        </div>
      </div>
      <div class="row mt-3"> 
        <div class="col-md-6">
          <div class="form-group">
            <label for="nombres"></label>
            <input type="text" class="form-control" id="nombres" placeholder="Nombres">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="apellidos"></label>
            <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
          </div>
        </div>
      </div>
      <div class="row mt-3"> 
        <div class="col-12">
          <div class="form-group">
            <label for="direccion"></label>
            <input type="text" class="form-control" id="direccion" placeholder="Dirección">
          </div>
        </div>
      </div>
      <div class="row mt-3"> 
        <div class="col-md-6">
          <div class="form-group">
            <label for="telefono"></label>
            <input type="text" class="form-control" id="telefono" placeholder="Teléfono">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="fechaNacimiento">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="fechaNacimiento">
          </div>
        </div>
      </div>
      <div class="row mt-3"> 
        <div class="col-md-6">
          <button type="button" class="btn btn-primary w-100">Cancelar</button>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-secondary w-100">Submit</button> 
        </div>
      </div>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../../js/logica.js"></script>
</body>
</html>
